body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.h-content {
    height: inherit;
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #666666 0.001em solid;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 106px;
    background-color: white;
}

.h-nav {
    display: block;
    height: inherit;
}

.header a {
    text-decoration: none;
}

.h-content h2 {
    font-family: "Comic Sans MS";
    font-size: 27px;
    color: #292929;
    text-transform: uppercase;
    margin: auto;
    padding: auto;
}

.logo {
    margin-left: 37px;
    margin-right: 37px;
    padding: auto;
    height: 27px;
    width: 27px;
}

.h-list {
    list-style: none;
    padding: 37.8px 0;
    margin: 0;
}


.h-element {
    display: inline-block;
    font-size: 25px;
    margin: 0 20px;
}

.h-list a {
    text-decoration: none;
    color: #666666;
}

.h-list a:hover {
    color: red;
}

.delimeter {
    color: red;
    display: inline-block;
    font-size: 25px;
    margin: 0 20px;
}

.search-icon {
    height: 20px;
    width: 20px;
}

.main {
    margin-top: 166px;
    width: 100%;
}

.main-content {
    width: 74%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 13%;
}

.description {
    height: 55%;
    width: 35%;
}

.description h1 {
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 8%;
    font-size: 40px;
    display: inline-block;
    width: 76%;
    font-family: "Impact";
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

.h-l {
    list-style: none;
}

.descript-elem {
    margin-top: 3%;
    letter-spacing: 1px;
    margin-bottom: 3%;

    font-family: Impact;
    font-size: 25px;
    color: black;
}


.phone-number {
    margin-top: 10%;
    letter-spacing: 1px;
    margin-bottom: 3%;
    margin-left: 8%;
    font-family: Impact;
    font-size: 25px;
    color: black;
}


.phone {
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    margin-top: 2%;
    text-decoration: none;
    font-size: 27px;
}
.button-wrapper {
    text-align: center;
    margin-top: 7%;
}
.order{
    margin-left: 8%;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 35px;
    width: 95%;
    height: 60px;
}

.order:hover {
    background-color: #666666;
}

.product {
    height: 75%;
    width: 55%;
}

.brief-description {
    width: 75%;
    margin: 6% 11%;
    display: block;
    padding-top: 75px;
}

.brief-description h2 {
    margin-left: 6%;
    width: 100%;
    font-size: 30px;
    font-family: "Impact";
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.brief-description h3 {
    margin-left: 6%;
    letter-spacing: 2px;
    width: 100%;
    font-size: 22px;
    font-family: "Impact";
    font-weight: normal;
}

.p-d-text {
    margin-top: 4%;
}

.p-d-text h4 {
    margin-left: 10%;
    font-size: 25px;
}

.p-d-text h5 {
    margin-left: 10%;
    font-size: 20px;
}


.product-details {
    width: 90%;
    margin-left: 10%;
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 1px;
}

.product-description {
    display: flex;
    justify-content: space-between;
}

.product2 {
    width: 30%;
    margin-left: 6%;
}

.specification {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
}



.specification-l {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: normal;
}

.feedback {
    margin-left: 13%;
    width: 75%;
    padding-top: 75px;
    display: block;
    flex-direction: row;
    justify-content: space-between;

}

.feedback h2 {
    margin-left: 3%;
    width: 100%;
    font-size: 30px;
    font-family: "Impact";
    letter-spacing: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 0 auto;
    font-size: 24px;

}

.feedback form input {
    margin: 5px 0 10px 0;
    border-radius: 3px;
    border: 1px #666666 solid;
    padding: 15px 15px 15px 15px;
}

.feedback form label {
    margin: 1px 0;
}

.feedback button {
    width: 50%;
    border-radius: 3px;
    border: none;
    background-color: #666666;
    color: white;
    font-size: 24px;
    margin-top: 1%;
    margin-left: 25%;
    height: 40px;
}

.feedback button:hover {
    background-color: #292929
}

.info {
    width: 100%;
}

.f-nav {
    width: 50%;
    margin-left: 5%;
    display: block;
}


.phone-number {
    margin-top: 10%;
}

.about {
    width: 50%;
}

.footer {
    display: flex;
    width: 74%;
    margin-left: 13%;
    margin-top: 6%;
    padding-top: 75px;
    margin-bottom: 20px;
}

.footer h2 {
    margin-left: 5%;
    width: 100%;
    font-size: 30px;
    font-family: "Impact";
    letter-spacing: 2px;
}


.f2-list {
    list-style: none;
}

.f-list {
    list-style: none;
}

.f-element {
    margin-bottom: 2%;
}

.footer a {
    text-decoration: none;
    color: #666666;
}

.footer a:hover {
    color: red;
}

.f-element {
    font-size: 20px;
}
