.balls-group1 {
    top: 145px;
    width: 500px;
    left: 33%;
    height: 200px;
    position: relative;
    display: block;
}

.balls-group2 {
    top: 115px;
    width: 500px;
    left: 33%;
    height: 200px;
    position: relative;
    display: block;
}

.loading {
    left: 37%;
    top: 70px;
    position: relative;
    color: #293133;
    font-size: 100px;
    animation-name: loading-animation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.ball1 {
    position: absolute;
    left: 20%;
    height: 50px;
    width: 50px;
    background-color: #696969;
    animation-name: top-ball-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.ball2 {
    position: absolute;
    left: 40%;
    height: 50px;
    width: 50px;
    background-color: #A5A5A5;
    animation-name: top-ball-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.25s;
}

.ball3 {
    position: absolute;
    left: 60%;
    height: 50px;
    width: 50px;
    background-color: #DCDCDC;
    animation-name: top-ball-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.ball4 {
    position: absolute;
    top: 50px;
    left: 20%;
    height: 50px;
    width: 50px;
    background-color: #DCDCDC;
    animation-name: bottom-ball-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.ball5 {
    position: absolute;
    top: 50px;
    left: 40%;
    height: 50px;
    width: 50px;
    background-color: #A5A5A5;
    animation-name: bottom-ball-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.25s;
}

.ball6 {
    position: absolute;
    top: 50px;
    left: 60%;
    height: 50px;
    width: 50px;
    background-color: #696969;
    animation-name: bottom-ball-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes top-ball-animation {
    from {
        transform: translate(0, 0) rotate(0deg);
        border-radius: 0%;
    }

    50% {
        transform: translate(0, 100px) rotate(180deg);
        border-radius: 50%;
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
        border-radius: 0%;
    }
}

@keyframes bottom-ball-animation {
    from {
        transform: translate(0, 0) rotate(0deg);
        border-radius: 0%;
    }


    50% {
        transform: translate(0, -100px) rotate(180deg);
        border-radius: 50%;
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
        border-radius: 0%;
    }
}

@keyframes loading-animation {
    0% {
        color: #696969;
    }

    33.3% {
        color: #A5A5A5;
    }

    66.6% {
        color: #DCDCDC;
    }

    100% {
        color: #696969;
    }
}